                /* Nav-Bar */
                /* Colors
Primary 
Blue 0 76 147  #004C93
Yellow 202 165 0    #CAA500

Secondary
Green 0 152 154  #00989A
Red 277 31 23  #B11F17
Light Brown  155 144 124  #9B907C
Light Yellow  255 234 150 #FFEA96
Grey    132 133 135 #848587
light purple 159 159 202  #9F9FCA
*/
                
                html, body {
                    overflow-x: hidden;
                    border: none;
                    margin: 0;
                }
                
                html {
                    font-size: 1rem;
                }
                
                @media (min-width: 544px) {
                    h3 {
                        font-size: 0.7rem;
                    }
                    /*1rem = 16px*/
                }
                /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
                
                @media (min-width: 768px) {
                    h3 {
                        font-size: 1rem;
                    }
                    /*1rem = 16px*/
                }
                /* Large devices (desktops, 992px and up) */
                
                @media (min-width: 992px) {
                    h3 {
                        font-size: 1.5rem;
                    }
                    /*1rem = 16px*/
                }
                /* Extra large devices (large desktops, 1200px and up) */
                
                @media (min-width: 1200px) {
                    h3 {
                        font-size: 2rem;
                    }
                    /*1rem = 16px*/
                }
                
                li.nav-item.dropdown:hover {
                    background-color: #c29e2e;
                }
                
                a.dropdown-item:hover {
                    background-color: #c29e2e;
                }
                
                a#dropdownmenu {
                    padding: 1rem 2rem 1rem 1rem;
                    white-space: nowrap;
                    width: auto;
                    font-size: 1.2em;
                    color: white;
                }
                
                .dropdown-menu.show {
                    background-color: #004C93;
                    border: 1px solid #FFEA96;
                }
                
                .dropdown-item {
                    color: white;
                }
                
                @media (min-width: 75em) {
                    a#dropdownmenu {
                        /* color: #ffffff; */
                        padding: 1rem 2rem 1rem 1rem;
                        white-space: nowrap;
                        width: auto;
                        font-size: 1.2em;
                    }
                }
                /*Jumbotraon with Background main Banner and SearchBox*/
                
                .jumbotron {
                    margin-bottom: 0;
                    padding-top: 0;
                }
                
                .jumbotron-image {
                    position: relative;
                    background-image: url(./images/background/1.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    -webkit-background-size: 100% 100%;
                    -moz-background-size: 100% 100%;
                    -o-background-size: 100% 100%;
                    background-size: 100% 100%;
                    min-height: 379px;
                    margin-bottom: 0;
                }
                
                .tabbed-search-box-wrapper {
                    position: absolute;
                    width: 85%;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    /* outline: solid 2px red; */
                }
                /* Basic Cards*/
                
                .three-cards {
                    margin-top: 10%;
                }
                
                .card {
                    border: 0;
                }
                
                .myCard {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .card-body {
                    width: 80%;
                    border: solid 1px red;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background: #fff;
                    margin-top: -10%;
                    z-index: 10000;
                }
                
                ul.link-list {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }
                
                a.link-card {
                    color: red;
                }
                
                .card.myCard {
                    margin-top: 20px;
                }
                
                @media (max-width: 576px) {
                    #informative-cards>div {
                        margin-left: 0px !important;
                        margin-right: 0px !important;
                    }
                    #informative-cards>div>div {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                
                @media (max-width:1100px) {
                    #lsh-img-content .img {
                        margin-left: 0px !important;
                        margin-right: 0px !important;
                    }
                    div#lsh-description {
                        justify-content: center !important;
                        align-content: center !important;
                    }
                }
                /* Book Carousel */
                
                .slick-contents {
                    width: 211px;
                    outline: none;
                    box-sizing: border-box;
                }
                
                .slick-book-item {
                    position: relative;
                    width: 211px;
                    height: 200px;
                    overflow: hidden;
                    /* border: 1px solid black; */
                }
                
                .slick-book-item img {
                    position: absolute;
                    overflow: hidden;
                }
                
                .slick-item-info {
                    width: 211px;
                }
                /* Book Carousel */
                /* Footer */
                
                ul>li>a {
                    color: #fff;
                }
                
                ul>li>a:hover {
                    color: #CAA500;
                    text-decoration: none;
                }
                
                .footer-copyright>a {
                    color: white;
                }
                
                strong {
                    color: white;
                }
                /* 
                Social Media Icons
                Social Media Icons
                Social Media Icons
                */
                
                .icon-bar {
                    position: fixed;
                    top: 50%;
                    -webkit-transform: translateY(-100%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    z-index: 10000;
                }
                
                .icon-bar a {
                    display: block;
                    text-align: center;
                    padding: 16px;
                    transition: all 0.3s ease;
                    color: white;
                    font-size: 20px;
                }
                
                .icon-bar a:hover {
                    background-color: #000;
                }
                
                .facebook {
                    background: #3B5998;
                    color: white;
                }
                
                .twitter {
                    background: #55ACEE;
                    color: white;
                }
                
                .instagram {
                    background: #125688;
                    color: white;
                }
                
                .youtube {
                    background: #bb0000;
                    color: white;
                }
                
                .content {
                    margin-left: 75px;
                    font-size: 30px;
                }